*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #1d1d1d;
   
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    border-bottom: 1px solid #3b3a3a;
    z-index: 1000;
    background-color: #1d1d1d;
   
}
.main-nav{
    width: 90%;
    margin: auto;
   
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
   
}
.toggle .fas{
    font-size: 2rem;
    color: white;
    cursor: pointer;
    transition: 0.3s linear;
}
.toggle .fas:hover{
    transform: scale(0.5) rotate(45deg);
}
.toggle .times{
    display: none;
}


/* container-link */
.container-link{
  
   
    height: 0;
    transition: all 0.8s linear;
}
ul.navigation-link{
    list-style: none;
    padding-top: 1rem;
    padding-bottom: 2rem; 
    background-color: #1d1d1d;
    
  
    
}
ul.navigation-link li{
    padding: 1rem 0;
    text-align: center;
   
}
ul.navigation-link li a{
    text-decoration: none;
    color: #adabab;
    font-weight: 500px;
    
   
}
ul.navigation-link li a:hover{
    color: teal;
   
}
.contact-me{
   
    display: none;
  
}

.small-view-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
   
}
.small-view-contact {
    background-color: teal;
    color: white;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.small-view-contact:hover{
    background-color: white;
    border: 1px solid teal;
    color: teal;
    
}
.first-section{
    position: relative;
    border-bottom: 2px solid #adabab;
    /* margin-top: 15vh; */
    
}
.section-container{
    display: flex;
    height: 100vh;
    width: 88%;
    align-items: center;
    margin: auto;
    
}
.description{
    font-family: sans-serif;
}
.description h2{
    font-size: 4rem;
    width: 200px;
    color: #fff;
}
.description #name{
    font-size: 5rem;
    max-width: 800px;
    color: teal;
    
    
}
.description #job{
    font-size: 2rem;
    color: white;
}
.description p{
    font-size: 1.5rem;
    width: 300px;
    color: teal;
    margin: 30px 0;
    font-family: cursive;
}
.contact-text{
   
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  

}
.contact-me:hover{
    background-color: teal;
    
}
.read:hover{
   border-radius: 5px;
}
.contact-me:hover div{
    transform: scale(0.9);
}
.read:hover div{
    transform: scale(0.9);
    border-radius: 5px;
}
.contact-me:hover .normCol{
    width: 110%;
}
.read:hover .normCol{
    width: 110%;
}
.contact-me:hover .contact-text{
    color: whitesmoke;
}
.read:hover .contact-text{
    color: whitesmoke;
}
.contact-me  .normCol{
    background-color: teal;
    color: white;
    position: absolute;
    height: 100%;
    width: 0%;
    left: -5%;
    top: 0;
    transition: all 0.3s ease-in-out;
   -webkit-transition:all 0.3s ease-in-out ;
   -o-transition: all 0.3s ease-in-out;
   -webkit-transform: skewX(-19deg) ;
   -ms-transform: skewX(-19deg);
   transform:skewX(-19deg) ;
}
.read  .normCol{
    background-color: teal;
    color: white;
    position: absolute;
    height: 100%;
    width: 0%;
    left: -5%;
    top: 0;
    transition: all 0.3s ease-in-out;
   -webkit-transition:all 0.3s ease-in-out ;
   -o-transition: all 0.3s ease-in-out;
   -webkit-transform: skewX(-19deg) ;
   -ms-transform: skewX(-19deg);
   transform:skewX(-19deg) ;
   border-radius: 5px;
}
.contact-me  .whiteCol{
box-sizing: border-box;
-webkit-box-sizing: border-box;
position: absolute;
width: 100%;
height: 100%;
left: 0;
border: 1px solid teal;
border-radius: 5px;
}
.read  .whiteCol{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border: 1px solid teal;
    border-radius: 5px;
    }
.contact-me div{
    width: 100%;
    
    height: 100%;
   position: relative;
   overflow: hidden;
   transition: all 0.3s ease-in-out;
   -webkit-transition:all 0.3s ease-in-out ;
   -o-transition: all 0.3s ease-in-out;
}
.read div{
    width: 100%;
    
    height: 100%;
   position: relative;
   overflow: hidden;
   transition: all 0.3s ease-in-out;
   -webkit-transition:all 0.3s ease-in-out ;
   -o-transition: all 0.3s ease-in-out;
}

.read {
   
    color: teal;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
   position: relative;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    line-height: 35px;
}
/*second section*/
.second-section{
    width: 85%;
    margin: 70px auto 0;
   
}
.about h1{
    color: #3a3939;
    font-size: 5rem;
}
/*animation*/
.parags p{
    width: 95%;
    font-size: 1rem;
    color: #adabab;
    line-height: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
     Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-weight: 300;
     margin-bottom: 35px;
}
.parag-one{
    margin-top: 35px;
    position: relative;
}
.parag-two-wrapper{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}
/*section three*/
.section-three{
    margin: 100px auto;
    width: 85%;
}
.section-three h1{
    position: absolute;
    font-size: 7rem;
    color: #3a3939;
    filter: opacity(0.1);
}

.contact-section{
    position: relative;
    width: 90%;
    margin: 50px auto 0;
}
.contact-section h2{
    color: teal;
    font-size: 1.5rem;
}
.contact-section p{
    line-height: 1.5rem;
    font-size: 1rem;
    width: 85%;
    color: #adabab;

}
.contact-section h1{
    font-size: 7rem;
    color: #3a3939;
    position: absolute;
    z-index: -999;
   
    opacity: 0.3;
}
.contact-wrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
form{
    width: 100%;
    line-height: 4rem;
}
input[type="text"], input[type="email"]{
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    background-color: #3a3939;
    padding: 5px 20px;
    border-top: 1px solid teal;
}
textarea{
    width: 100%;
    height: 30vh;
    border: none;
    outline: none;
    padding: 20px;
    color: #adabab;
    background-color: #3a3939;
}
input[type="submit"]{
    border:none  ;
    outline: none;
    height: 40px;
    width: 100%;
    cursor: pointer;
    color: #141414;
    font-size: 1rem;
    background-color: teal;
}
.scroll-top{
    font-size: 1.25rem;
    position: fixed;
    bottom: 3rem;
    background-color: #1d1d1d;
    box-shadow: 0 0 3px 2px #333;
    width: 2rem;
    height: 2rem;
    border-radius: 10px;
    display: grid;
    place-items: center;
    right: 3rem;
    color: teal;
    animation: jump 2s ease-in-out infinite;
    -webkit-animation: jump 2s ease-in-out infinite ;
    -o-animation:jump 2s ease-in-out infinite ;
    /* visibility: hidden;
    z-index: -10000; */
}
.show-scroll{
    visibility: visible;
    z-index: 10000;
}
@keyframes jump{
    0%{
        transform: translateY(-7px);
    }
    50%{
        transform: translateY(7px);
    }
    100%{
        transform: translateY(-7px);
    }
}
.projects{
    width: 90%;
    min-width: 70vh;
    margin: 70px auto 0;
    color: #adabab;
}
.projects h3{
    color: teal;
    font-size: 1rem;
    margin: 0 0 15px 0;
}
footer{
    width: 100%;
    margin: 100px;
    height: 8vh;
    background-color: #141414;
    display: grid;
    place-items: center;
    font-size: 12px;
    color: #adabab;
}
@media screen and (max-width:800px) {
    .container-link{
        overflow: hidden;
        
    }
}

@media screen and (min-width:800px) {
    .toggle {
        display: none;
    }
   
   .main-nav{
       display: flex;
       justify-content: space-between;
       align-items: center;
      
      
   }
   ul.navigation-link{
       display: flex;
       justify-content: center;
       align-items: center;
       height: auto;
   }
   ul.navigation-link li{
       padding-left: 1rem;
       padding-right: 1rem;
   }    
      
  
   .container-link{
       
       display: flex;
       align-items: center;
       justify-content: center;
       height: auto !important;
   }
  
   .small-view-contact{
       display: none;
   }
  
.contact-me {
   
    color: teal;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
   position: relative;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    line-height: 35px;
}


   .toggle .bar{
    display: none;
}

    
}
 